In [11]:
from glob import glob
from pathlib import Path
import logging, os, math
import pandas as pd
import numpy as np
from pandas import read_csv
from datetime import datetime
from matplotlib import pyplot as plt
from math import sqrt
from numpy import concatenate
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.metrics import mean_squared_error
from math import sqrt
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.models import save_model
from keras.models import load_model
from read_data import read_all_nyc

In [12]:
#INPUTS: names of csv files, name of zone being examined
#read in all csv files at once from directory
#feed in your filenames here for HOURLY LBMP
path = Path.cwd() / "2017_NYISO_LBMPs"

#filenames = glob(os.path.join(path, "201701*.csv"))
#get list of dataframes for each day
# dataframes= [pd.read_csv(f, dtype={"Time Stamp": "object", "Name": "object",
#                                    "PTID": int, "LBMP ($/MWHr)": float,
#                                    "Marginal Cost Losses ($/MWHr)": float,
#                                    "Marginal Cost Congestion ($/MWHr)": float})
#              for f in filenames]
# Or we can use read_data function to do the injestion
df = read_all_nyc(data_path=path)
df.head(5)

           time_stamp    name   lbmp  hour
0 2017-01-01 00:00:00  N.Y.C.  33.60     0
1 2017-01-01 01:00:00  N.Y.C.  32.05     1
2 2017-01-01 02:00:00  N.Y.C.  29.23     2
3 2017-01-01 03:00:00  N.Y.C.  25.02     3
4 2017-01-01 04:00:00  N.Y.C.  26.94     4

In [13]:
# total rows in the data should be equal to num of hours in a year 2017
lastIndex = len(df)
lastIndex

8760